body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1569px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1552px;
  height:761px;
  background:inherit;
  background-color:rgba(153, 153, 204, 0.149019607843137);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u942 {
  position:absolute;
  left:17px;
  top:11px;
  width:1552px;
  height:761px;
}
#u943 {
  position:absolute;
  left:2px;
  top:372px;
  width:1548px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1543px;
  height:38px;
  background:inherit;
  background-color:rgba(153, 153, 204, 0.498039215686275);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u944 {
  position:absolute;
  left:17px;
  top:11px;
  width:1543px;
  height:38px;
  text-align:left;
}
#u945 {
  position:absolute;
  left:2px;
  top:11px;
  width:1539px;
  word-wrap:break-word;
}
#u946 {
  position:absolute;
  left:314px;
  top:76px;
  width:180px;
  height:25px;
}
#u946_input {
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:32px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:5px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:941px;
  top:69px;
  width:158px;
  height:32px;
}
#u948 {
  position:absolute;
  left:2px;
  top:8px;
  width:154px;
  word-wrap:break-word;
}
#u949 {
  position:absolute;
  left:35px;
  top:150px;
  width:1048px;
  height:545px;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u951 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u952 {
  position:absolute;
  left:70px;
  top:0px;
  width:122px;
  height:30px;
}
#u953 {
  position:absolute;
  left:2px;
  top:7px;
  width:118px;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:30px;
}
#u954 {
  position:absolute;
  left:192px;
  top:0px;
  width:155px;
  height:30px;
}
#u955 {
  position:absolute;
  left:2px;
  top:7px;
  width:151px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
}
#u956 {
  position:absolute;
  left:347px;
  top:0px;
  width:250px;
  height:30px;
}
#u957 {
  position:absolute;
  left:2px;
  top:7px;
  width:246px;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u958 {
  position:absolute;
  left:597px;
  top:0px;
  width:98px;
  height:30px;
}
#u959 {
  position:absolute;
  left:2px;
  top:7px;
  width:94px;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u960 {
  position:absolute;
  left:695px;
  top:0px;
  width:108px;
  height:30px;
}
#u961 {
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:30px;
}
#u962 {
  position:absolute;
  left:803px;
  top:0px;
  width:82px;
  height:30px;
}
#u963 {
  position:absolute;
  left:2px;
  top:7px;
  width:78px;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u964 {
  position:absolute;
  left:885px;
  top:0px;
  width:78px;
  height:30px;
}
#u965 {
  position:absolute;
  left:2px;
  top:7px;
  width:74px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u966 {
  position:absolute;
  left:963px;
  top:0px;
  width:80px;
  height:30px;
}
#u967 {
  position:absolute;
  left:2px;
  top:7px;
  width:76px;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u968 {
  position:absolute;
  left:0px;
  top:30px;
  width:70px;
  height:34px;
}
#u969 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u970 {
  position:absolute;
  left:70px;
  top:30px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u971 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u972 {
  position:absolute;
  left:192px;
  top:30px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u973 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u974 {
  position:absolute;
  left:347px;
  top:30px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u975 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u976 {
  position:absolute;
  left:597px;
  top:30px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u977 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u978 {
  position:absolute;
  left:695px;
  top:30px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u979 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u980 {
  position:absolute;
  left:803px;
  top:30px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u981 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u982 {
  position:absolute;
  left:885px;
  top:30px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u983 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u984 {
  position:absolute;
  left:963px;
  top:30px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u985 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u986 {
  position:absolute;
  left:0px;
  top:64px;
  width:70px;
  height:34px;
}
#u987 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u988 {
  position:absolute;
  left:70px;
  top:64px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u989 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u990 {
  position:absolute;
  left:192px;
  top:64px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u991 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u992 {
  position:absolute;
  left:347px;
  top:64px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u993 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u994 {
  position:absolute;
  left:597px;
  top:64px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u995 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u996 {
  position:absolute;
  left:695px;
  top:64px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u997 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u998 {
  position:absolute;
  left:803px;
  top:64px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u999 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1000 {
  position:absolute;
  left:885px;
  top:64px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1001 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1002 {
  position:absolute;
  left:963px;
  top:64px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1003 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1004 {
  position:absolute;
  left:0px;
  top:98px;
  width:70px;
  height:34px;
}
#u1005 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1006 {
  position:absolute;
  left:70px;
  top:98px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1007 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1008 {
  position:absolute;
  left:192px;
  top:98px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1009 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1010 {
  position:absolute;
  left:347px;
  top:98px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1011 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1012 {
  position:absolute;
  left:597px;
  top:98px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1013 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1014 {
  position:absolute;
  left:695px;
  top:98px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1016 {
  position:absolute;
  left:803px;
  top:98px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1018 {
  position:absolute;
  left:885px;
  top:98px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1019 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1020 {
  position:absolute;
  left:963px;
  top:98px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1021 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1022 {
  position:absolute;
  left:0px;
  top:132px;
  width:70px;
  height:34px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1024 {
  position:absolute;
  left:70px;
  top:132px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1026 {
  position:absolute;
  left:192px;
  top:132px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1027 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1028 {
  position:absolute;
  left:347px;
  top:132px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1030 {
  position:absolute;
  left:597px;
  top:132px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1032 {
  position:absolute;
  left:695px;
  top:132px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1033 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1034 {
  position:absolute;
  left:803px;
  top:132px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1036 {
  position:absolute;
  left:885px;
  top:132px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1037 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1038 {
  position:absolute;
  left:963px;
  top:132px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1039 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1040 {
  position:absolute;
  left:0px;
  top:166px;
  width:70px;
  height:34px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1042 {
  position:absolute;
  left:70px;
  top:166px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1044 {
  position:absolute;
  left:192px;
  top:166px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1045 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1046 {
  position:absolute;
  left:347px;
  top:166px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1048 {
  position:absolute;
  left:597px;
  top:166px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1050 {
  position:absolute;
  left:695px;
  top:166px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1052 {
  position:absolute;
  left:803px;
  top:166px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1054 {
  position:absolute;
  left:885px;
  top:166px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1055 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1056 {
  position:absolute;
  left:963px;
  top:166px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1057 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1058 {
  position:absolute;
  left:0px;
  top:200px;
  width:70px;
  height:34px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1060 {
  position:absolute;
  left:70px;
  top:200px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1062 {
  position:absolute;
  left:192px;
  top:200px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1063 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1064 {
  position:absolute;
  left:347px;
  top:200px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1066 {
  position:absolute;
  left:597px;
  top:200px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1067 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1068 {
  position:absolute;
  left:695px;
  top:200px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1069 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1070 {
  position:absolute;
  left:803px;
  top:200px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1072 {
  position:absolute;
  left:885px;
  top:200px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1073 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1074 {
  position:absolute;
  left:963px;
  top:200px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1075 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1076 {
  position:absolute;
  left:0px;
  top:234px;
  width:70px;
  height:34px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1078 {
  position:absolute;
  left:70px;
  top:234px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1080 {
  position:absolute;
  left:192px;
  top:234px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1081 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1082 {
  position:absolute;
  left:347px;
  top:234px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1083 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1084 {
  position:absolute;
  left:597px;
  top:234px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1085 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1086 {
  position:absolute;
  left:695px;
  top:234px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1087 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1088 {
  position:absolute;
  left:803px;
  top:234px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1090 {
  position:absolute;
  left:885px;
  top:234px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1091 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1092 {
  position:absolute;
  left:963px;
  top:234px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1093 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1094 {
  position:absolute;
  left:0px;
  top:268px;
  width:70px;
  height:34px;
}
#u1095 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1096 {
  position:absolute;
  left:70px;
  top:268px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1098 {
  position:absolute;
  left:192px;
  top:268px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1099 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1100 {
  position:absolute;
  left:347px;
  top:268px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1101 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1102 {
  position:absolute;
  left:597px;
  top:268px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1103 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1104 {
  position:absolute;
  left:695px;
  top:268px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1105 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1106 {
  position:absolute;
  left:803px;
  top:268px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1107 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1108 {
  position:absolute;
  left:885px;
  top:268px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1109 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1110 {
  position:absolute;
  left:963px;
  top:268px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1111 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1112 {
  position:absolute;
  left:0px;
  top:302px;
  width:70px;
  height:34px;
}
#u1113 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1114 {
  position:absolute;
  left:70px;
  top:302px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1115 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1116 {
  position:absolute;
  left:192px;
  top:302px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1117 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1118 {
  position:absolute;
  left:347px;
  top:302px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1119 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1120 {
  position:absolute;
  left:597px;
  top:302px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1121 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1122 {
  position:absolute;
  left:695px;
  top:302px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1124 {
  position:absolute;
  left:803px;
  top:302px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1126 {
  position:absolute;
  left:885px;
  top:302px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1127 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1128 {
  position:absolute;
  left:963px;
  top:302px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1129 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1130 {
  position:absolute;
  left:0px;
  top:336px;
  width:70px;
  height:34px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1132 {
  position:absolute;
  left:70px;
  top:336px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1133 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1134 {
  position:absolute;
  left:192px;
  top:336px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1135 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1136 {
  position:absolute;
  left:347px;
  top:336px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1138 {
  position:absolute;
  left:597px;
  top:336px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1140 {
  position:absolute;
  left:695px;
  top:336px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1142 {
  position:absolute;
  left:803px;
  top:336px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1144 {
  position:absolute;
  left:885px;
  top:336px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1145 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1146 {
  position:absolute;
  left:963px;
  top:336px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1147 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1148 {
  position:absolute;
  left:0px;
  top:370px;
  width:70px;
  height:34px;
}
#u1149 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1150 {
  position:absolute;
  left:70px;
  top:370px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1151 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1152 {
  position:absolute;
  left:192px;
  top:370px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1153 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1154 {
  position:absolute;
  left:347px;
  top:370px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1155 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1156 {
  position:absolute;
  left:597px;
  top:370px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1157 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1158 {
  position:absolute;
  left:695px;
  top:370px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1159 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1160 {
  position:absolute;
  left:803px;
  top:370px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1161 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1162 {
  position:absolute;
  left:885px;
  top:370px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1163 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1164 {
  position:absolute;
  left:963px;
  top:370px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1165 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1166 {
  position:absolute;
  left:0px;
  top:404px;
  width:70px;
  height:34px;
}
#u1167 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1168 {
  position:absolute;
  left:70px;
  top:404px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1169 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1170_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1170 {
  position:absolute;
  left:192px;
  top:404px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1171 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1172 {
  position:absolute;
  left:347px;
  top:404px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1173 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1174 {
  position:absolute;
  left:597px;
  top:404px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1175 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1176 {
  position:absolute;
  left:695px;
  top:404px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1177 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1178 {
  position:absolute;
  left:803px;
  top:404px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1179 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1180 {
  position:absolute;
  left:885px;
  top:404px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1181 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1182 {
  position:absolute;
  left:963px;
  top:404px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1183 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1184 {
  position:absolute;
  left:0px;
  top:438px;
  width:70px;
  height:34px;
}
#u1185 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1186 {
  position:absolute;
  left:70px;
  top:438px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1188 {
  position:absolute;
  left:192px;
  top:438px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1189 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1190 {
  position:absolute;
  left:347px;
  top:438px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1191 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1192 {
  position:absolute;
  left:597px;
  top:438px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1193 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1194 {
  position:absolute;
  left:695px;
  top:438px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1195 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1196 {
  position:absolute;
  left:803px;
  top:438px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1197 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1198 {
  position:absolute;
  left:885px;
  top:438px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1199 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1200 {
  position:absolute;
  left:963px;
  top:438px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1201 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1202 {
  position:absolute;
  left:0px;
  top:472px;
  width:70px;
  height:34px;
}
#u1203 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1204 {
  position:absolute;
  left:70px;
  top:472px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1205 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1206 {
  position:absolute;
  left:192px;
  top:472px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1207 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1208_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1208 {
  position:absolute;
  left:347px;
  top:472px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1209 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1210_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1210 {
  position:absolute;
  left:597px;
  top:472px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1211 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1212 {
  position:absolute;
  left:695px;
  top:472px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1213 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1214 {
  position:absolute;
  left:803px;
  top:472px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1216 {
  position:absolute;
  left:885px;
  top:472px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1217 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1218 {
  position:absolute;
  left:963px;
  top:472px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1219 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:34px;
}
#u1220 {
  position:absolute;
  left:0px;
  top:506px;
  width:70px;
  height:34px;
}
#u1221 {
  position:absolute;
  left:2px;
  top:9px;
  width:66px;
  word-wrap:break-word;
}
#u1222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:34px;
}
#u1222 {
  position:absolute;
  left:70px;
  top:506px;
  width:122px;
  height:34px;
  font-size:12px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:10px;
  width:118px;
  word-wrap:break-word;
}
#u1224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:34px;
}
#u1224 {
  position:absolute;
  left:192px;
  top:506px;
  width:155px;
  height:34px;
  font-size:12px;
  text-align:left;
}
#u1225 {
  position:absolute;
  left:2px;
  top:10px;
  width:151px;
  word-wrap:break-word;
}
#u1226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:34px;
}
#u1226 {
  position:absolute;
  left:347px;
  top:506px;
  width:250px;
  height:34px;
  font-size:12px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:10px;
  width:246px;
  word-wrap:break-word;
}
#u1228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:34px;
}
#u1228 {
  position:absolute;
  left:597px;
  top:506px;
  width:98px;
  height:34px;
  font-size:10px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:10px;
  width:94px;
  word-wrap:break-word;
}
#u1230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:34px;
}
#u1230 {
  position:absolute;
  left:695px;
  top:506px;
  width:108px;
  height:34px;
  font-size:12px;
}
#u1231 {
  position:absolute;
  left:2px;
  top:2px;
  width:104px;
  word-wrap:break-word;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u1232 {
  position:absolute;
  left:803px;
  top:506px;
  width:82px;
  height:34px;
  font-size:12px;
}
#u1233 {
  position:absolute;
  left:2px;
  top:10px;
  width:78px;
  word-wrap:break-word;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:34px;
}
#u1234 {
  position:absolute;
  left:885px;
  top:506px;
  width:78px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1235 {
  position:absolute;
  left:2px;
  top:10px;
  width:74px;
  word-wrap:break-word;
}
#u1236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:34px;
}
#u1236 {
  position:absolute;
  left:963px;
  top:506px;
  width:80px;
  height:34px;
  font-size:12px;
  color:#0066CC;
}
#u1237 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:27px;
}
#u1238 {
  position:absolute;
  left:248px;
  top:725px;
  width:632px;
  height:26px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:5px;
  width:628px;
  word-wrap:break-word;
}
#u1240_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1240 {
  position:absolute;
  left:56px;
  top:80px;
  width:85px;
  height:16px;
}
#u1241 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1242 {
  position:absolute;
  left:151px;
  top:77px;
  width:99px;
  height:22px;
}
#u1242_input {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1242_input:disabled {
  color:grayText;
}
