body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:623px;
  background:inherit;
  background-color:rgba(153, 153, 204, 0.0980392156862745);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2928 {
  position:absolute;
  left:11px;
  top:14px;
  width:1105px;
  height:623px;
}
#u2929 {
  position:absolute;
  left:2px;
  top:304px;
  width:1101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1096px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 204, 0.498039215686275);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2930 {
  position:absolute;
  left:20px;
  top:25px;
  width:1096px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2931 {
  position:absolute;
  left:0px;
  top:10px;
  width:1096px;
  word-wrap:break-word;
}
#u2932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2932 {
  position:absolute;
  left:32px;
  top:180px;
  width:82px;
  height:16px;
  text-align:right;
}
#u2933 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2934 {
  position:absolute;
  left:32px;
  top:138px;
  width:82px;
  height:16px;
  text-align:right;
}
#u2935 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:47px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2936 {
  position:absolute;
  left:803px;
  top:79px;
  width:280px;
  height:47px;
}
#u2937 {
  position:absolute;
  left:10px;
  top:10px;
  width:260px;
  word-wrap:break-word;
}
#u2938_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:174px;
  height:23px;
}
#u2938p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:167px;
  height:3px;
}
#u2938p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:178px;
  height:23px;
}
#u2938p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u2938p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u2938p002 {
  position:absolute;
  left:144px;
  top:-11px;
  width:24px;
  height:24px;
}
#u2938p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u2938.compound {
  width:0px;
  height:0px;
}
#u2938 {
  position:absolute;
  left:640px;
  top:101px;
  width:163px;
  height:3px;
}
#u2939 {
  position:absolute;
  left:2px;
  top:-6px;
  width:159px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2940 {
  position:absolute;
  left:143px;
  top:223px;
  width:216px;
  height:34px;
}
#u2940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
}
#u2940_input:disabled {
  color:grayText;
}
#u2941 {
  position:absolute;
  left:143px;
  top:130px;
  width:281px;
  height:33px;
}
#u2941_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2942 {
  position:absolute;
  left:143px;
  top:377px;
  width:281px;
  height:33px;
}
#u2942_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2943 {
  position:absolute;
  left:143px;
  top:173px;
  width:281px;
  height:33px;
}
#u2943_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2944 {
  position:absolute;
  left:32px;
  top:233px;
  width:82px;
  height:16px;
  text-align:right;
}
#u2945 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2946 {
  position:absolute;
  left:32px;
  top:282px;
  width:82px;
  height:16px;
  text-align:right;
}
#u2947 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2948 {
  position:absolute;
  left:143px;
  top:274px;
  width:281px;
  height:33px;
}
#u2948_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2949 {
  position:absolute;
  left:32px;
  top:332px;
  width:82px;
  height:16px;
  text-align:right;
}
#u2950 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2951 {
  position:absolute;
  left:143px;
  top:325px;
  width:281px;
  height:33px;
}
#u2951_input {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u2952 {
  position:absolute;
  left:32px;
  top:386px;
  width:82px;
  height:16px;
  text-align:right;
}
#u2953 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2954 {
  position:absolute;
  left:74px;
  top:412px;
  width:20px;
  height:88px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u2955 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
