body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:848px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1214_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:747px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1214 {
  position:absolute;
  left:122px;
  top:75px;
  width:324px;
  height:747px;
}
#u1215 {
  position:absolute;
  left:2px;
  top:366px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(153, 102, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1216 {
  position:absolute;
  left:122px;
  top:132px;
  width:320px;
  height:70px;
  font-size:12px;
}
#u1217 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1218 {
  position:absolute;
  left:130px;
  top:142px;
  width:50px;
  height:50px;
  font-size:11px;
}
#u1219 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1220 {
  position:absolute;
  left:197px;
  top:157px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u1221 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u1222_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:5px;
}
#u1222 {
  position:absolute;
  left:122px;
  top:203px;
  width:320px;
  height:2px;
}
#u1223 {
  position:absolute;
  left:2px;
  top:-7px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1224 {
  position:absolute;
  left:122px;
  top:265px;
  width:320px;
  height:1px;
}
#u1225 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:6px;
}
#u1226 {
  position:absolute;
  left:122px;
  top:302px;
  width:320px;
  height:3px;
}
#u1227 {
  position:absolute;
  left:2px;
  top:-6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u1228 {
  position:absolute;
  left:135px;
  top:225px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u1229 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u1230_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1230 {
  position:absolute;
  left:172px;
  top:230px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u1231 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u1232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u1232 {
  position:absolute;
  left:413px;
  top:217px;
  width:10px;
  height:10px;
}
#u1233 {
  position:absolute;
  left:2px;
  top:-3px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u1234 {
  position:absolute;
  left:135px;
  top:321px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u1235 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u1236_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1236 {
  position:absolute;
  left:172px;
  top:326px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u1237 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u1238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1238 {
  position:absolute;
  left:122px;
  top:359px;
  width:320px;
  height:1px;
}
#u1239 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1240_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u1240 {
  position:absolute;
  left:135px;
  top:377px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u1241 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u1242_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1242 {
  position:absolute;
  left:172px;
  top:382px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u1243 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u1244_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1244 {
  position:absolute;
  left:122px;
  top:415px;
  width:320px;
  height:1px;
}
#u1245 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1246_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u1246 {
  position:absolute;
  left:135px;
  top:432px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u1247 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u1248_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1248 {
  position:absolute;
  left:172px;
  top:437px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u1249 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u1250_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1250 {
  position:absolute;
  left:122px;
  top:470px;
  width:320px;
  height:1px;
}
#u1251 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1252_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u1252 {
  position:absolute;
  left:135px;
  top:491px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u1253 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u1254_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1254 {
  position:absolute;
  left:172px;
  top:496px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u1255 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u1256_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1256 {
  position:absolute;
  left:122px;
  top:529px;
  width:320px;
  height:1px;
}
#u1257 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1258_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u1258 {
  position:absolute;
  left:135px;
  top:553px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u1259 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1260 {
  position:absolute;
  left:172px;
  top:558px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u1262_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1262 {
  position:absolute;
  left:130px;
  top:142px;
  width:50px;
  height:50px;
}
#u1263 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u1264 {
  position:absolute;
  left:321px;
  top:157px;
  width:82px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u1266_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1266 {
  position:absolute;
  left:197px;
  top:85px;
  width:178px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u1267 {
  position:absolute;
  left:0px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u1268_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1268 {
  position:absolute;
  left:140px;
  top:93px;
  width:30px;
  height:30px;
}
#u1269 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1270_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:44px;
}
#u1270 {
  position:absolute;
  left:152px;
  top:724px;
  width:42px;
  height:43px;
}
#u1271 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u1272_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:44px;
}
#u1272 {
  position:absolute;
  left:391px;
  top:724px;
  width:42px;
  height:43px;
}
#u1273 {
  position:absolute;
  left:2px;
  top:14px;
  width:38px;
  word-wrap:break-word;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1274 {
  position:absolute;
  left:158px;
  top:775px;
  width:29px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1275 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1276 {
  position:absolute;
  left:400px;
  top:777px;
  width:29px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1277 {
  position:absolute;
  left:0px;
  top:2px;
  width:29px;
  word-wrap:break-word;
}
#u1278_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:317px;
  height:9px;
}
#u1278 {
  position:absolute;
  left:128px;
  top:710px;
  width:312px;
  height:4px;
}
#u1279 {
  position:absolute;
  left:2px;
  top:-6px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1280_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:62px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1280 {
  position:absolute;
  left:478px;
  top:485px;
  width:322px;
  height:62px;
}
#u1281 {
  position:absolute;
  left:10px;
  top:15px;
  width:302px;
  word-wrap:break-word;
}
#u1282_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u1282p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u1282p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u1282p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1282p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1282p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1282p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1282.compound {
  width:0px;
  height:0px;
}
#u1282 {
  position:absolute;
  left:385px;
  top:511px;
  width:93px;
  height:3px;
}
#u1283 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:83px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1284 {
  position:absolute;
  left:526px;
  top:132px;
  width:322px;
  height:83px;
}
#u1285 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u1286_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u1286p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u1286p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u1286p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1286p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1286p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1286p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1286.compound {
  width:0px;
  height:0px;
}
#u1286 {
  position:absolute;
  left:433px;
  top:169px;
  width:93px;
  height:3px;
}
#u1287 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:70px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1288 {
  position:absolute;
  left:470px;
  top:557px;
  width:322px;
  height:70px;
}
#u1289 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u1290_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u1290p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u1290p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u1290p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1290p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1290p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1290p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1290.compound {
  width:0px;
  height:0px;
}
#u1290 {
  position:absolute;
  left:377px;
  top:577px;
  width:93px;
  height:3px;
}
#u1291 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:62px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1292 {
  position:absolute;
  left:470px;
  top:423px;
  width:322px;
  height:62px;
}
#u1293 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u1294_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u1294p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u1294p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u1294p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1294p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1294p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1294p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1294.compound {
  width:0px;
  height:0px;
}
#u1294 {
  position:absolute;
  left:377px;
  top:449px;
  width:93px;
  height:3px;
}
#u1295 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:62px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1296 {
  position:absolute;
  left:464px;
  top:361px;
  width:322px;
  height:62px;
}
#u1297 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u1298_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u1298p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u1298p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u1298p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1298p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1298p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1298p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1298.compound {
  width:0px;
  height:0px;
}
#u1298 {
  position:absolute;
  left:371px;
  top:387px;
  width:93px;
  height:3px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:37px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1300 {
  position:absolute;
  left:464px;
  top:314px;
  width:322px;
  height:37px;
}
#u1301 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u1302p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u1302p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u1302p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1302p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1302p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1302p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1302.compound {
  width:0px;
  height:0px;
}
#u1302 {
  position:absolute;
  left:371px;
  top:330px;
  width:93px;
  height:3px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u1304 {
  position:absolute;
  left:135px;
  top:272px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1306 {
  position:absolute;
  left:172px;
  top:277px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u1307 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:56px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1308 {
  position:absolute;
  left:458px;
  top:248px;
  width:322px;
  height:56px;
}
#u1309 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u1310_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u1310p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u1310p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u1310p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1310p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1310p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1310p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1310.compound {
  width:0px;
  height:0px;
}
#u1310 {
  position:absolute;
  left:365px;
  top:283px;
  width:93px;
  height:3px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1312 {
  position:absolute;
  left:122px;
  top:585px;
  width:320px;
  height:1px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u1314 {
  position:absolute;
  left:135px;
  top:609px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u1315 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1316 {
  position:absolute;
  left:172px;
  top:614px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u1317 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u1318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u1318 {
  position:absolute;
  left:128px;
  top:648px;
  width:320px;
  height:1px;
}
#u1319 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u1320 {
  position:absolute;
  left:135px;
  top:672px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u1321 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u1322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u1322 {
  position:absolute;
  left:172px;
  top:677px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u1323 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:42px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1324 {
  position:absolute;
  left:447px;
  top:672px;
  width:322px;
  height:42px;
}
#u1325 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u1326_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u1326p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u1326p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u1326p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1326p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1326p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1326p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1326.compound {
  width:0px;
  height:0px;
}
#u1326 {
  position:absolute;
  left:354px;
  top:692px;
  width:93px;
  height:3px;
}
#u1327 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
