body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1116px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1105px;
  height:480px;
  background:inherit;
  background-color:rgba(153, 153, 204, 0.0980392156862745);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2956 {
  position:absolute;
  left:11px;
  top:14px;
  width:1105px;
  height:480px;
}
#u2957 {
  position:absolute;
  left:2px;
  top:232px;
  width:1101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:44px;
  background:inherit;
  background-color:rgba(153, 153, 204, 0.498039215686275);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2958 {
  position:absolute;
  left:16px;
  top:25px;
  width:1100px;
  height:44px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u2959 {
  position:absolute;
  left:0px;
  top:10px;
  width:1100px;
  word-wrap:break-word;
}
#u2960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2960 {
  position:absolute;
  left:76px;
  top:130px;
  width:128px;
  height:33px;
}
#u2961 {
  position:absolute;
  left:0px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u2962 {
  position:absolute;
  left:204px;
  top:130px;
  width:222px;
  height:33px;
}
#u2962_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2963 {
  position:absolute;
  left:574px;
  top:130px;
  width:109px;
  height:33px;
}
#u2964 {
  position:absolute;
  left:0px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u2965 {
  position:absolute;
  left:699px;
  top:130px;
  width:240px;
  height:33px;
}
#u2965_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2966 {
  position:absolute;
  left:76px;
  top:186px;
  width:128px;
  height:33px;
}
#u2967 {
  position:absolute;
  left:0px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u2968 {
  position:absolute;
  left:204px;
  top:186px;
  width:222px;
  height:33px;
}
#u2968_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2969 {
  position:absolute;
  left:574px;
  top:186px;
  width:109px;
  height:33px;
}
#u2970 {
  position:absolute;
  left:0px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u2971 {
  position:absolute;
  left:699px;
  top:186px;
  width:240px;
  height:33px;
}
#u2971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2972 {
  position:absolute;
  left:76px;
  top:253px;
  width:128px;
  height:33px;
}
#u2973 {
  position:absolute;
  left:0px;
  top:8px;
  width:128px;
  word-wrap:break-word;
}
#u2974 {
  position:absolute;
  left:204px;
  top:253px;
  width:222px;
  height:33px;
}
#u2974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:222px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2975 {
  position:absolute;
  left:574px;
  top:253px;
  width:109px;
  height:33px;
}
#u2976 {
  position:absolute;
  left:0px;
  top:8px;
  width:109px;
  word-wrap:break-word;
}
#u2977 {
  position:absolute;
  left:699px;
  top:253px;
  width:240px;
  height:33px;
}
#u2977_input {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:33px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 153, 204, 0.227450980392157);
  border:none;
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u2978 {
  position:absolute;
  left:16px;
  top:79px;
  width:1090px;
  height:30px;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u2979 {
  position:absolute;
  left:2px;
  top:7px;
  width:1086px;
  word-wrap:break-word;
}
