body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1042px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2323_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:703px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2323 {
  position:absolute;
  left:239px;
  top:43px;
  width:377px;
  height:703px;
}
#u2324 {
  position:absolute;
  left:2px;
  top:344px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2325_div {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2325 {
  position:absolute;
  left:362px;
  top:75px;
  width:125px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u2326 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  word-wrap:break-word;
}
#u2327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u2327 {
  position:absolute;
  left:255px;
  top:165px;
  width:352px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u2328 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2329 {
  position:absolute;
  left:355px;
  top:687px;
  width:140px;
  height:40px;
}
#u2330 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2331_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:380px;
  height:9px;
}
#u2331 {
  position:absolute;
  left:240px;
  top:120px;
  width:375px;
  height:4px;
}
#u2332 {
  position:absolute;
  left:2px;
  top:-6px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333 {
  position:absolute;
  left:266px;
  top:198px;
  width:100px;
  height:16px;
}
#u2334 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2333_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2335 {
  position:absolute;
  left:387px;
  top:198px;
  width:100px;
  height:16px;
}
#u2336 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2335_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2337 {
  position:absolute;
  left:515px;
  top:198px;
  width:100px;
  height:16px;
}
#u2338 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2337_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2339 {
  position:absolute;
  left:266px;
  top:233px;
  width:100px;
  height:16px;
}
#u2340 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2339_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2341 {
  position:absolute;
  left:387px;
  top:233px;
  width:100px;
  height:16px;
}
#u2342 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2341_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u2343 {
  position:absolute;
  left:255px;
  top:275px;
  width:352px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u2344 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2345 {
  position:absolute;
  left:266px;
  top:308px;
  width:100px;
  height:16px;
}
#u2346 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2345_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2347 {
  position:absolute;
  left:387px;
  top:308px;
  width:100px;
  height:16px;
}
#u2348 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2347_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2349 {
  position:absolute;
  left:515px;
  top:308px;
  width:100px;
  height:16px;
}
#u2350 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2349_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2351 {
  position:absolute;
  left:266px;
  top:343px;
  width:100px;
  height:16px;
}
#u2352 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2351_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2353 {
  position:absolute;
  left:387px;
  top:343px;
  width:100px;
  height:16px;
}
#u2354 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2353_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2355_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u2355 {
  position:absolute;
  left:255px;
  top:393px;
  width:352px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u2356 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2357 {
  position:absolute;
  left:266px;
  top:426px;
  width:100px;
  height:16px;
}
#u2358 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2357_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2359 {
  position:absolute;
  left:475px;
  top:426px;
  width:100px;
  height:16px;
}
#u2360 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2359_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2361 {
  position:absolute;
  left:266px;
  top:461px;
  width:100px;
  height:16px;
}
#u2362 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2361_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2363 {
  position:absolute;
  left:475px;
  top:461px;
  width:100px;
  height:16px;
}
#u2364 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2363_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2365 {
  position:absolute;
  left:266px;
  top:499px;
  width:100px;
  height:16px;
}
#u2366 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2365_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2367 {
  position:absolute;
  left:475px;
  top:499px;
  width:100px;
  height:16px;
}
#u2368 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2367_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2369_div {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u2369 {
  position:absolute;
  left:255px;
  top:549px;
  width:352px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  line-height:18px;
}
#u2370 {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  word-wrap:break-word;
}
#u2371 {
  position:absolute;
  left:266px;
  top:582px;
  width:100px;
  height:16px;
}
#u2372 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2371_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2373 {
  position:absolute;
  left:387px;
  top:582px;
  width:100px;
  height:16px;
}
#u2374 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2373_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2375 {
  position:absolute;
  left:515px;
  top:582px;
  width:100px;
  height:16px;
}
#u2376 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2375_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:135px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u2377 {
  position:absolute;
  left:708px;
  top:291px;
  width:334px;
  height:135px;
}
#u2378 {
  position:absolute;
  left:10px;
  top:10px;
  width:314px;
  word-wrap:break-word;
}
#u2379_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u2379p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u2379p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u2379p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u2379p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u2379p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u2379p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u2379.compound {
  width:0px;
  height:0px;
}
#u2379 {
  position:absolute;
  left:615px;
  top:332px;
  width:93px;
  height:3px;
}
#u2380 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
