body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:818px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:324px;
  height:649px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3052 {
  position:absolute;
  left:122px;
  top:118px;
  width:324px;
  height:649px;
}
#u3053 {
  position:absolute;
  left:2px;
  top:316px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:70px;
  background:inherit;
  background-color:rgba(51, 51, 102, 0.23921568627451);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3054 {
  position:absolute;
  left:122px;
  top:177px;
  width:320px;
  height:70px;
  font-size:12px;
}
#u3055 {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u3056 {
  position:absolute;
  left:197px;
  top:208px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u3057 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u3058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3058 {
  position:absolute;
  left:122px;
  top:244px;
  width:320px;
  height:1px;
}
#u3059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3060_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:323px;
  height:6px;
}
#u3060 {
  position:absolute;
  left:122px;
  top:302px;
  width:320px;
  height:3px;
}
#u3061 {
  position:absolute;
  left:2px;
  top:-6px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u3062 {
  position:absolute;
  left:135px;
  top:259px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u3063 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u3064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3064 {
  position:absolute;
  left:172px;
  top:264px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u3065 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u3066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u3066 {
  position:absolute;
  left:135px;
  top:321px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u3067 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u3068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3068 {
  position:absolute;
  left:172px;
  top:326px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u3069 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u3070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3070 {
  position:absolute;
  left:122px;
  top:359px;
  width:320px;
  height:1px;
}
#u3071 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u3072 {
  position:absolute;
  left:135px;
  top:377px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u3073 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u3074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3074 {
  position:absolute;
  left:172px;
  top:382px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u3075 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u3076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3076 {
  position:absolute;
  left:122px;
  top:415px;
  width:320px;
  height:1px;
}
#u3077 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u3078 {
  position:absolute;
  left:135px;
  top:432px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u3079 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u3080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3080 {
  position:absolute;
  left:172px;
  top:437px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u3081 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u3082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3082 {
  position:absolute;
  left:122px;
  top:470px;
  width:320px;
  height:1px;
}
#u3083 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u3084 {
  position:absolute;
  left:135px;
  top:491px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u3085 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u3086_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3086 {
  position:absolute;
  left:172px;
  top:496px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u3087 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u3088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3088 {
  position:absolute;
  left:122px;
  top:529px;
  width:320px;
  height:1px;
}
#u3089 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u3090 {
  position:absolute;
  left:135px;
  top:553px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u3091 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u3092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3092 {
  position:absolute;
  left:172px;
  top:558px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u3093 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
#u3094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u3094 {
  position:absolute;
  left:130px;
  top:187px;
  width:50px;
  height:50px;
}
#u3095 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u3096 {
  position:absolute;
  left:321px;
  top:202px;
  width:82px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u3097 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3098 {
  position:absolute;
  left:197px;
  top:130px;
  width:178px;
  height:47px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u3099 {
  position:absolute;
  left:0px;
  top:10px;
  width:178px;
  word-wrap:break-word;
}
#u3100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u3100 {
  position:absolute;
  left:140px;
  top:138px;
  width:30px;
  height:30px;
}
#u3101 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3102_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:317px;
  height:9px;
}
#u3102 {
  position:absolute;
  left:122px;
  top:668px;
  width:312px;
  height:4px;
}
#u3103 {
  position:absolute;
  left:2px;
  top:-6px;
  width:308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:62px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3104 {
  position:absolute;
  left:478px;
  top:485px;
  width:322px;
  height:62px;
}
#u3105 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u3106_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u3106p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u3106p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u3106p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u3106p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u3106p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u3106p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u3106.compound {
  width:0px;
  height:0px;
}
#u3106 {
  position:absolute;
  left:385px;
  top:511px;
  width:93px;
  height:3px;
}
#u3107 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:72px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3108 {
  position:absolute;
  left:496px;
  top:71px;
  width:322px;
  height:72px;
}
#u3109 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u3110_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:358px;
  height:23px;
}
#u3110p000 {
  position:absolute;
  left:-2px;
  top:-1px;
  width:351px;
  height:5px;
  -webkit-transform:rotate(-15deg);
  -moz-transform:rotate(-15deg);
  -ms-transform:rotate(-15deg);
  transform:rotate(-15deg);
}
#u3110p000_img {
  position:absolute;
  left:-1px;
  top:-9px;
  width:362px;
  height:25px;
}
#u3110p001 {
  position:absolute;
  left:4px;
  top:44px;
  width:4px;
  height:4px;
}
#u3110p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:24px;
}
#u3110p002 {
  position:absolute;
  left:322px;
  top:-54px;
  width:24px;
  height:24px;
}
#u3110p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u3110.compound {
  width:0px;
  height:0px;
}
#u3110 {
  position:absolute;
  left:160px;
  top:144px;
  width:347px;
  height:3px;
}
#u3111 {
  position:absolute;
  left:2px;
  top:-6px;
  width:343px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3112_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:56px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3112 {
  position:absolute;
  left:470px;
  top:623px;
  width:322px;
  height:56px;
}
#u3113 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u3114_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u3114p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u3114p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u3114p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u3114p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u3114p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u3114p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u3114.compound {
  width:0px;
  height:0px;
}
#u3114 {
  position:absolute;
  left:377px;
  top:643px;
  width:93px;
  height:3px;
}
#u3115 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:62px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3116 {
  position:absolute;
  left:470px;
  top:423px;
  width:322px;
  height:62px;
}
#u3117 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u3118_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u3118p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u3118p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u3118p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u3118p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u3118p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u3118p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u3118.compound {
  width:0px;
  height:0px;
}
#u3118 {
  position:absolute;
  left:377px;
  top:449px;
  width:93px;
  height:3px;
}
#u3119 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:62px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3120 {
  position:absolute;
  left:464px;
  top:361px;
  width:322px;
  height:62px;
}
#u3121 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u3122_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u3122p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u3122p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u3122p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u3122p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u3122p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u3122p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u3122.compound {
  width:0px;
  height:0px;
}
#u3122 {
  position:absolute;
  left:371px;
  top:387px;
  width:93px;
  height:3px;
}
#u3123 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:62px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3124 {
  position:absolute;
  left:452px;
  top:247px;
  width:322px;
  height:62px;
}
#u3125 {
  position:absolute;
  left:10px;
  top:10px;
  width:302px;
  word-wrap:break-word;
}
#u3126_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u3126p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u3126p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u3126p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u3126p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u3126p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u3126p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u3126.compound {
  width:0px;
  height:0px;
}
#u3126 {
  position:absolute;
  left:359px;
  top:273px;
  width:93px;
  height:3px;
}
#u3127 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u3128 {
  position:absolute;
  left:135px;
  top:682px;
  width:50px;
  height:43px;
}
#u3129 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u3130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u3130 {
  position:absolute;
  left:400px;
  top:682px;
  width:50px;
  height:43px;
}
#u3131 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u3132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3132 {
  position:absolute;
  left:143px;
  top:733px;
  width:34px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3133 {
  position:absolute;
  left:0px;
  top:2px;
  width:34px;
  word-wrap:break-word;
}
#u3134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3134 {
  position:absolute;
  left:411px;
  top:735px;
  width:34px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3135 {
  position:absolute;
  left:0px;
  top:2px;
  width:34px;
  word-wrap:break-word;
}
#u3136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u3136 {
  position:absolute;
  left:130px;
  top:603px;
  width:320px;
  height:1px;
}
#u3137 {
  position:absolute;
  left:2px;
  top:-8px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u3138 {
  position:absolute;
  left:135px;
  top:623px;
  width:20px;
  height:22px;
  font-size:8px;
}
#u3139 {
  position:absolute;
  left:2px;
  top:6px;
  width:16px;
  word-wrap:break-word;
}
#u3140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u3140 {
  position:absolute;
  left:172px;
  top:628px;
  width:105px;
  height:15px;
  font-size:12px;
}
#u3141 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  word-wrap:break-word;
}
