body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:938px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:1148px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u959 {
  position:absolute;
  left:239px;
  top:35px;
  width:377px;
  height:1148px;
}
#u960 {
  position:absolute;
  left:2px;
  top:566px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u961 {
  position:absolute;
  left:371px;
  top:69px;
  width:126px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:center;
}
#u962 {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  word-wrap:break-word;
}
#u963 {
  position:absolute;
  left:258px;
  top:258px;
  width:287px;
  height:41px;
}
#u963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:41px;
  background-color:#F2F2F2;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u964 {
  position:absolute;
  left:272px;
  top:1106px;
  width:50px;
  height:43px;
}
#u965 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:44px;
}
#u966 {
  position:absolute;
  left:537px;
  top:1106px;
  width:50px;
  height:43px;
}
#u967 {
  position:absolute;
  left:2px;
  top:14px;
  width:46px;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u968 {
  position:absolute;
  left:280px;
  top:1157px;
  width:34px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u969 {
  position:absolute;
  left:0px;
  top:2px;
  width:34px;
  word-wrap:break-word;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u970 {
  position:absolute;
  left:548px;
  top:1159px;
  width:34px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u971 {
  position:absolute;
  left:0px;
  top:2px;
  width:34px;
  word-wrap:break-word;
}
#u972 {
  position:absolute;
  left:251px;
  top:106px;
  width:356px;
  height:132px;
  overflow:hidden;
}
#u972_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:132px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u972_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:133px;
  background:inherit;
  background-color:rgba(0, 153, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:133px;
  font-size:20px;
  color:#FFFFFF;
}
#u974 {
  position:absolute;
  left:2px;
  top:54px;
  width:351px;
  word-wrap:break-word;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u975 {
  position:absolute;
  left:121px;
  top:101px;
  width:15px;
  height:15px;
}
#u976 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u977 {
  position:absolute;
  left:170px;
  top:101px;
  width:15px;
  height:15px;
}
#u978 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u979 {
  position:absolute;
  left:216px;
  top:101px;
  width:15px;
  height:15px;
}
#u980 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:132px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u972_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:131px;
  background:inherit;
  background-color:rgba(51, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:131px;
  font-size:20px;
  color:#FFFFFF;
}
#u982 {
  position:absolute;
  left:2px;
  top:54px;
  width:349px;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u983 {
  position:absolute;
  left:122px;
  top:100px;
  width:15px;
  height:15px;
}
#u984 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u985 {
  position:absolute;
  left:167px;
  top:100px;
  width:15px;
  height:15px;
}
#u986 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u987 {
  position:absolute;
  left:212px;
  top:100px;
  width:15px;
  height:15px;
}
#u988 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:356px;
  height:132px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u972_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:132px;
  background:inherit;
  background-color:rgba(102, 51, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u989 {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:132px;
  font-size:20px;
  color:#FFFFFF;
}
#u990 {
  position:absolute;
  left:2px;
  top:54px;
  width:349px;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u991 {
  position:absolute;
  left:121px;
  top:100px;
  width:15px;
  height:15px;
}
#u992 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u993 {
  position:absolute;
  left:166px;
  top:100px;
  width:15px;
  height:15px;
}
#u994 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u995 {
  position:absolute;
  left:213px;
  top:100px;
  width:15px;
  height:15px;
}
#u996 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:41px;
  background:inherit;
  background-color:rgba(153, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u997 {
  position:absolute;
  left:545px;
  top:258px;
  width:54px;
  height:41px;
}
#u998 {
  position:absolute;
  left:2px;
  top:12px;
  width:50px;
  word-wrap:break-word;
}
#u999_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:380px;
  height:6px;
}
#u999 {
  position:absolute;
  left:239px;
  top:363px;
  width:377px;
  height:3px;
}
#u1000 {
  position:absolute;
  left:2px;
  top:-6px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1001 {
  position:absolute;
  left:258px;
  top:58px;
  width:36px;
  height:36px;
}
#u1002 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:66px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1003 {
  position:absolute;
  left:29px;
  top:58px;
  width:150px;
  height:66px;
}
#u1004 {
  position:absolute;
  left:10px;
  top:10px;
  width:130px;
  word-wrap:break-word;
}
#u1005_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:90px;
  height:23px;
}
#u1005p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:83px;
  height:3px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1005p000_img {
  position:absolute;
  left:-10px;
  top:-10px;
  width:94px;
  height:23px;
}
#u1005p001 {
  position:absolute;
  left:77px;
  top:0px;
  width:4px;
  height:3px;
}
#u1005p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1005p002 {
  position:absolute;
  left:-6px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1005p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1005.compound {
  width:0px;
  height:0px;
}
#u1005 {
  position:absolute;
  left:179px;
  top:78px;
  width:79px;
  height:3px;
}
#u1006 {
  position:absolute;
  left:2px;
  top:-6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1007_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:369px;
  height:9px;
}
#u1007 {
  position:absolute;
  left:243px;
  top:98px;
  width:364px;
  height:4px;
}
#u1008 {
  position:absolute;
  left:2px;
  top:-6px;
  width:360px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1009_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:382px;
  height:9px;
}
#u1009 {
  position:absolute;
  left:239px;
  top:1086px;
  width:377px;
  height:4px;
}
#u1010 {
  position:absolute;
  left:2px;
  top:-6px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:86px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1011 {
  position:absolute;
  left:630px;
  top:98px;
  width:241px;
  height:86px;
}
#u1012 {
  position:absolute;
  left:10px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u1013_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:128px;
  height:24px;
}
#u1013p000 {
  position:absolute;
  left:-3px;
  top:0px;
  width:121px;
  height:5px;
  -webkit-transform:rotate(-9deg);
  -moz-transform:rotate(-9deg);
  -ms-transform:rotate(-9deg);
  transform:rotate(-9deg);
}
#u1013p000_img {
  position:absolute;
  left:-2px;
  top:-9px;
  width:133px;
  height:25px;
}
#u1013p001 {
  position:absolute;
  left:-2px;
  top:9px;
  width:5px;
  height:5px;
}
#u1013p001_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:17px;
  height:25px;
}
#u1013p002 {
  position:absolute;
  left:95px;
  top:-18px;
  width:24px;
  height:24px;
}
#u1013p002_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:36px;
  height:44px;
}
#u1013.compound {
  width:0px;
  height:0px;
}
#u1013 {
  position:absolute;
  left:514px;
  top:131px;
  width:116px;
  height:4px;
}
#u1014 {
  position:absolute;
  left:2px;
  top:-6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1015_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:87px;
  height:6px;
}
#u1015 {
  position:absolute;
  left:514px;
  top:363px;
  width:84px;
  height:3px;
}
#u1016 {
  position:absolute;
  left:2px;
  top:-6px;
  width:80px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1017_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:382px;
  height:9px;
}
#u1017 {
  position:absolute;
  left:239px;
  top:611px;
  width:377px;
  height:4px;
}
#u1018 {
  position:absolute;
  left:2px;
  top:-6px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1019 {
  position:absolute;
  left:258px;
  top:327px;
  width:72px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1020 {
  position:absolute;
  left:0px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u1021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1021 {
  position:absolute;
  left:395px;
  top:327px;
  width:79px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u1022 {
  position:absolute;
  left:0px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u1023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#996600;
}
#u1023 {
  position:absolute;
  left:522px;
  top:326px;
  width:79px;
  height:27px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#996600;
}
#u1024 {
  position:absolute;
  left:0px;
  top:3px;
  width:79px;
  word-wrap:break-word;
}
#u1025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:249px;
}
#u1025 {
  position:absolute;
  left:239px;
  top:597px;
  width:377px;
  height:248px;
}
#u1026 {
  position:absolute;
  left:2px;
  top:92px;
  width:373px;
  word-wrap:break-word;
}
#u1027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:97px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1027 {
  position:absolute;
  left:691px;
  top:714px;
  width:241px;
  height:97px;
}
#u1028 {
  position:absolute;
  left:10px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u1029_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u1029p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u1029p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u1029p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1029p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1029p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1029p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1029.compound {
  width:0px;
  height:0px;
}
#u1029 {
  position:absolute;
  left:604px;
  top:761px;
  width:93px;
  height:3px;
}
#u1030 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:211px;
}
#u1031 {
  position:absolute;
  left:286px;
  top:376px;
  width:259px;
  height:211px;
}
#u1032 {
  position:absolute;
  left:2px;
  top:98px;
  width:255px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:97px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1033 {
  position:absolute;
  left:685px;
  top:422px;
  width:241px;
  height:97px;
}
#u1034 {
  position:absolute;
  left:10px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u1035_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:104px;
  height:23px;
}
#u1035p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:97px;
  height:3px;
}
#u1035p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:108px;
  height:23px;
}
#u1035p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1035p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1035p002 {
  position:absolute;
  left:74px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1035p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1035.compound {
  width:0px;
  height:0px;
}
#u1035 {
  position:absolute;
  left:598px;
  top:469px;
  width:93px;
  height:3px;
}
#u1036 {
  position:absolute;
  left:2px;
  top:-6px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:42px;
  background:inherit;
  background-color:rgba(153, 102, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1037 {
  position:absolute;
  left:313px;
  top:1026px;
  width:237px;
  height:42px;
}
#u1038 {
  position:absolute;
  left:2px;
  top:13px;
  width:233px;
  word-wrap:break-word;
}
#u1039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:97px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1039 {
  position:absolute;
  left:697px;
  top:878px;
  width:241px;
  height:97px;
}
#u1040 {
  position:absolute;
  left:10px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
#u1041_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:159px;
  height:23px;
}
#u1041p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:152px;
  height:3px;
}
#u1041p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:163px;
  height:23px;
}
#u1041p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1041p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1041p002 {
  position:absolute;
  left:129px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1041p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1041.compound {
  width:0px;
  height:0px;
}
#u1041 {
  position:absolute;
  left:549px;
  top:924px;
  width:148px;
  height:3px;
}
#u1042 {
  position:absolute;
  left:2px;
  top:-6px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1043_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:133px;
  height:23px;
}
#u1043p000 {
  position:absolute;
  left:-2px;
  top:0px;
  width:126px;
  height:3px;
}
#u1043p000_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:137px;
  height:23px;
}
#u1043p001 {
  position:absolute;
  left:-2px;
  top:0px;
  width:4px;
  height:3px;
}
#u1043p001_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:15px;
  height:23px;
}
#u1043p002 {
  position:absolute;
  left:103px;
  top:-11px;
  width:24px;
  height:24px;
}
#u1043p002_img {
  position:absolute;
  left:-1px;
  top:-10px;
  width:35px;
  height:44px;
}
#u1043.compound {
  width:0px;
  height:0px;
}
#u1043 {
  position:absolute;
  left:539px;
  top:1046px;
  width:122px;
  height:3px;
}
#u1044 {
  position:absolute;
  left:2px;
  top:-6px;
  width:118px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:144px;
}
#u1045 {
  position:absolute;
  left:239px;
  top:855px;
  width:377px;
  height:143px;
}
#u1046 {
  position:absolute;
  left:2px;
  top:64px;
  width:373px;
  word-wrap:break-word;
}
#u1047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:241px;
  height:97px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u1047 {
  position:absolute;
  left:661px;
  top:999px;
  width:241px;
  height:97px;
}
#u1048 {
  position:absolute;
  left:10px;
  top:10px;
  width:221px;
  word-wrap:break-word;
}
