<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="yinao.qualityLife.dao.UserMapper">

	<resultMap id="getUserFromDatabaseMap" type="yinao.qualityLife.model.domain.User">
        <id column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="create_time" property="create_time"/>
        <result column="auth" property="auth"/>
        <result column="state" property="state"/>
    </resultMap>

    <select id="loginEmployer"  resultMap="getUserFromDatabaseMap">
    	SELECT
    		`t_base_employer`.name,
        	`t_base_employer`.username,
        	`t_base_employer`.password,
        	`t_base_employer`.headimageurl,
        	`t_base_employer`.idcard,
        	`t_base_employer`.education,
        	`t_base_employer`.address1,
        	`t_base_employer`.address2,
        	`t_base_employer`.address3,
        	`t_base_employer`.sex,
        	`t_base_employer`.state,
        	`t_base_employer`.servicestate,
        	`t_base_employer`.create_time,
        	`t_base_employer`.role_id,
        	role.auth
        FROM
        	`t_base_employer` ,
        	role
        WHERE
        	`t_base_employer`.role_id = role.role_id 
        AND
        	`t_base_employer`.username = #{username}
    </select>
    
    
    <select id="loginHousekeeper"  resultMap="getUserFromDatabaseMap">
    	SELECT
    		`t_base_housekeeper`.name,
        	`t_base_housekeeper`.username,
        	`t_base_housekeeper`.password,
        	`t_base_housekeeper`.headimageurl,
        	`t_base_housekeeper`.idcard,
        	`t_base_housekeeper`.education,
        	`t_base_housekeeper`.address1,
        	`t_base_housekeeper`.address2,
        	`t_base_housekeeper`.address3,
        	`t_base_housekeeper`.sex,
        	`t_base_housekeeper`.state,
        	`t_base_housekeeper`.create_time,
        	`t_base_housekeeper`.role_id,
        	role.auth
        FROM
        	`t_base_housekeeper` ,
        	role
        WHERE
        	`t_base_housekeeper`.role_id = role.role_id AND
        	`t_base_housekeeper`.username = #{username}
    </select>	
   
  <insert id="registerEmployer"   >
    	INSERT INTO
        	`t_base_employer`
        	(username,password,create_time , role_id ,state , name )
        	VALUES
        	(#{username}, #{password}, now() , '1' , '1', #{name} )
   </insert>
   
   <insert id="registerHousekeeper"   >
    	INSERT INTO
        	`t_base_housekeeper`
        	(username,password,create_time , role_id ,state , name )
        	VALUES
        	(#{username}, #{password}, now() , '1' , '1', #{name} )
   </insert>
    
            

</mapper>