body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:676px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83 {
  position:absolute;
  left:239px;
  top:43px;
  width:377px;
  height:676px;
}
#u84 {
  position:absolute;
  left:2px;
  top:330px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u85 {
  position:absolute;
  left:367px;
  top:71px;
  width:113px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:330px;
  top:195px;
  width:277px;
  height:41px;
}
#u87_input {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
}
#u88 {
  position:absolute;
  left:260px;
  top:282px;
  width:326px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u89 {
  position:absolute;
  left:2px;
  top:10px;
  width:322px;
  word-wrap:break-word;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u90 {
  position:absolute;
  left:245px;
  top:132px;
  width:365px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u91 {
  position:absolute;
  left:0px;
  top:6px;
  width:365px;
  word-wrap:break-word;
}
#u92_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u92 {
  position:absolute;
  left:260px;
  top:204px;
  width:70px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u93 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:377px;
  height:676px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  position:absolute;
  left:743px;
  top:43px;
  width:377px;
  height:676px;
}
#u95 {
  position:absolute;
  left:2px;
  top:330px;
  width:373px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:846px;
  top:195px;
  width:160px;
  height:41px;
}
#u96_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:40px;
}
#u97 {
  position:absolute;
  left:763px;
  top:370px;
  width:326px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u98 {
  position:absolute;
  left:2px;
  top:10px;
  width:322px;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u99 {
  position:absolute;
  left:749px;
  top:132px;
  width:365px;
  height:32px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u100 {
  position:absolute;
  left:0px;
  top:6px;
  width:365px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u101 {
  position:absolute;
  left:776px;
  top:204px;
  width:70px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u102 {
  position:absolute;
  left:0px;
  top:2px;
  width:70px;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u103 {
  position:absolute;
  left:1006px;
  top:204px;
  width:96px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u104 {
  position:absolute;
  left:0px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:846px;
  top:254px;
  width:160px;
  height:41px;
}
#u105_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u106 {
  position:absolute;
  left:783px;
  top:263px;
  width:53px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u107 {
  position:absolute;
  left:0px;
  top:2px;
  width:53px;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:846px;
  top:305px;
  width:160px;
  height:41px;
}
#u108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u109 {
  position:absolute;
  left:761px;
  top:314px;
  width:85px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
#u110 {
  position:absolute;
  left:0px;
  top:2px;
  width:85px;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u111 {
  position:absolute;
  left:875px;
  top:71px;
  width:113px;
  height:36px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u113 {
  position:absolute;
  left:260px;
  top:71px;
  width:36px;
  height:36px;
}
#u114 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u115 {
  position:absolute;
  left:763px;
  top:71px;
  width:36px;
  height:36px;
}
#u116 {
  position:absolute;
  left:2px;
  top:10px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
